<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/weather-app.png">
</head>
<body>
    <header>
        <h1> Weather LookUp</h1>

    </header>
    <div class="main">
        <p>Enter your CityName</p>
        <form action="/Weather" method="post">
            <input type="search" name="city" placeholder="Enter the City name"/>
            <input type="submit" value="Reveal the Skies"/>
        </form>
        <div class="img"></div>

    </div>
</body>
</html>